/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes shift {
  from {
    padding-inline-end: 0;
  }

  to {
    padding-inline-end: 4px;
  }
}

@keyframes transition {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.6;
  }
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in 0.1s reverse;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: opasity 0.3s ease-in 0.3s reverse;
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes opasity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
